--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
numpy==1.26.4
pymatgen==2024.5.1
py3Dmol
stmol
ipython-genutils
ipywidgets
pandas
scikit-learn
openpyxl
matplotlib
seaborn
